<% if current_user %>
<% else %>
  <%= form_tag do %>

      <%= label_tag :email, 'Email:' %>
      <%= text_field_tag :email, params[:email] %>

      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password] %>

      <%= submit_tag "Log in" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>