<div class="formularz">
  <h1>Edit blog</h1>
  <%= form_for @blog, url: blog_path(@blog) do |form| %>
    <% if @blog.errors.any? %>
      <div class="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this user from being saved:</h2>

        <% @blog.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>

  <%= link_to 'Back', blogs_path %>
</div>