<div class="pokaz_blogi">
  <h1>Listing blogs</h1>
  <% if current_user %>
    <%= link_to 'New blog', new_blog_path %>
    <p class="pdf">
      <%= link_to 'PDF', blogs_path(format: 'pdf') %>
    </p>
  <% end %>
  <table>

    <% @blog.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, blog_path(blog) %></td>
        <% if current_user %>
          <% if current_user.id == blog.user_id %>
            <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
            <td><%= link_to 'Destroy', blog_path(blog),
                             method: :delete,
                             data: {confirm: 'Are you sure?'} %></td>
            <% end %>
        <% end %>
      </tr>
      </tr>
    <% end %>
  </table>
  <br>
  <li class="przycisk"><%= link_to 'Back', root_path %></li>

</div>