<div class="formularz">
  <% if current_user %>
    <% if @blog.errors.any? %>
      <div class="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this user from being saved:</h2>

        <% @blog.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <h1>New Blog</h1>

    <%= form_with model: @blog, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  <% else %>
    <div>
      <h3>
        You must log in
      </h3>
    </div>
  <% end %>
  <%= link_to 'Back', :back %>
</div>