<% provide(:title, @blog.title) %>
<div>
  <div class="pokaz_artykoly">
    <div class="row">
      <aside class="col-md-4">
        <section class="blog_info">
          <h1>
            <%= @blog.title %><br>
          </h1>
        </section>
      </aside>
    </div>

    <h1>Listing Articles</h1>
    <% if current_user %>
      <% if current_user.id == @blog.user_id %>
        <%= link_to 'New article', new_blog_article_path(@blog.id) %>
        <p class="pdf">
          <%= link_to 'PDF', blogs_path(format: 'pdf') %><br>
        </p><br><br>
      <% end %>
    <% end %>
      <% @article.each do |article| %>
          <% if article.blog_id == @blog.id %>
            <div class="article">
              <table>
                  <tr><%= link_to article.title, blog_article_path(@blog,article) %></tr><br><br>
                  <tr><%=image_tag article.image(:original) %></tr><br>
                  <% if current_user %>
                    <% if current_user.id == @blog.user_id %>
                      <tr>
                        <td><%= link_to 'Edit', edit_blog_article_path(@blog,article) %></td><td></td>
                        <td><%= link_to 'Destroy', blog_article_path(@blog,article),
                                      method: :delete,
                                      data: {confirm: 'Are you sure?'} %></td>
                      </tr>
                    <% end %>
                  <% end %>
              </table>
            </div>
          <% end %>
      <% end %>

    </table>
<br>
<br>
<br>

    <%= link_to 'Back', blogs_path %>
  </div>
</div>

