<div class="komentarz">

  <strong><%= comment.user %></strong> </br>
    <%= comment.text %>

    <% if current_user %>
    <% if current_user.id == @article.blog_id %>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <%end%>
  <%end%>
  <p></p>

</div>