<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <% if @article.errors.any? %>
    <div class="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>