<%= form_with scope: @article, url: blog_articles_path, html: {multipart: true}, local: true do |form| %>

  <% if @article.errors.any? %>
    <div class="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@article.errors.count, "error") %>.
      </div>
      <% @article.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :tags %><br>
    <%= form.text_field :tag_list, value: form.object.tag_list.to_s %>
  </p>

  <p>
    <%= form.submit %>
  </p>


<% end %>