<div class="formularz">
  <h1>Edit article</h1>
  <%= form_for @article,url: blog_article_path(@article.blog_id,@article), html: {multipart: true} do |form| %>

    <% if @article.errors.any? %>
      <div class="error_explanation">
        <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </p>

    <p>
      <%= form.label :tags %><br>
      <%= form.text_field :tag_list, value: form.object.tag_list.to_s %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>

  <%= link_to 'Back', blog_path(@article.blog_id) %>
</div>