
  <h1>All Articles from All Blogs</h1>
  <p class="pdf">
    <%= link_to "PDF", articles_path(format: 'pdf') %>
  </p>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%=image_tag article.image(:thumb) %></td>
        <td><%= render article.tags %></td>

        <td><%= link_to 'Show', blog_article_path(article.blog_id,article) %></td>
      </tr>
    <% end %>
  </table>
