<div class="formularz">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
  <%=image_tag @article.image(:original) %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p><h4>Tags:</h4>
  <p><%= render @article.tags %></p>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  <%= link_to 'Back', blog_path(@article.blog_id) %>
</div>