<h1>All Useer</h1>
<p class="pdf">
  <%= link_to "PDF", all_path(format: 'pdf') %>
</p>
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
