<div class="pokaz">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1 class="pokaz">
          <%= gravatar_for %>
          <%= current_user.name %><br>
          <%= current_user.email %><br>
        </h1>
      </section>
    </aside>
  </div>
  <%= link_to 'Back', root_path %>
</div>