<h1><%= @tag.name %></h1>
<table>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td>
      <%=image_tag article.image(:thumb) %>
    </td>
    <td><%= link_to 'Show', blog_article_path(article.blog_id,article) %></td>
  </tr>
<% end %>
  </table>