// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trzecia {
  border: 0.25px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.18);
  width: 46.5%;
  height: auto;
  margin: auto;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 80px;
  margin-top: 10px;
}

.czwarta {
  border: 0.25px solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.18);
  width: 46.5%;
  margin: auto;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 80px;
  margin-top: 10px;
  float: right;
}

.pokaz {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.nowy {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 33, 255);
}

.pokaz_artykoly {
  //margin-left: 5%;
}
.article{
  margin: 8px;
  position: center;
  width: 48%;
  display: inline-block;
  height: 420px;
  background: none;
}
.article > ul > li{
  background: none;
}
.article > ul > li:hover{
  background: none;
}
