
body {
  background-image: url(tlo-carbon-kafelki.png);
  background-size: 100%;
  font-family: "Trebuchet MS", Helvetica, Sans-Serif;
  background-attachment: fixed;
}

.formularz{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.pdf{
  float: right;
  margin-right: 20px;
  margin-top: -5px;
}

.position {
  float: right;
}

#g {
  transform: rotate(180deg);
}

.main {
  height: 70px;
  margin-bottom: 50px;
}

.pierwsza {
  border: 0.5px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  width: 985px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.druga {
  border: 0.5px solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  width: 945px;
  height: auto;
  margin: auto;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 80px;
  margin-top: 10px;
  min-height: 390px;
}

.trzecia {
  border: 0.25px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.18);
  height: auto;
  margin: auto;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 80px;
  margin-top: 10px;
}

/*menu*/
.menu {
  float: right;
  margin-right: 20px;
}

.log {
  float: right;
  background: none;
  margin-right: 30px;
}

.log li:hover {
  background: none;
}

#log {
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}

ul a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 0.5px;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul > li {
  float: left;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2.5em;
  margin-left: 1px;
}

ul > li:first-child {
  margin-left: 0;
}

ul > li:hover > a {
  color: #09C;
}

ul > li:hover > ul {
  display: block;
}

ul > li > ul > li {
  height: auto;
  position: relative;
  background-color: #666;
  border-top: 1px solid #111;
}

ul > li > ul > li:hover > a {
  color: #0CF;
}

ul > li:hover {
  background-color: #555;
}

ul > li > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

ul > li > ul {
  display: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 2.5em;
}

p.home {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 33, 255);
}

//logo
.logo {
  float: left;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 9px;
  text-shadow: 2px 2px 3px rgba(128, 0, 0, 0.9);

  position: relative;
}

#rodzic {
  width: 350px;
  height: 46px;
  font-size: 24px;
  text-align: center;
  margin-left: 12px;
}

#rodzic > span {
  display: block;
  float: left;
  width: 30px;
  line-height: 30px;
  margin: 0 3px;
  border: 1.5px solid #FDD700;
  background-color: #FFF;
  border-radius: 7.5px;
  animation: animowany_tekst 5s linear infinite;
  -webkit-animation: animowany_tekst 5s linear infinite; /* dla Google Chrome, Safari, Opera 15+ */
}

#rodzic > span:nth-child(1) {
  animation-delay: 250ms;
  -webkit-animation-delay: 250ms;
}

#rodzic > span:nth-child(2) {
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

#rodzic > span:nth-child(3) {
  animation-delay: 750ms;
  -webkit-animation-delay: 750ms;
}

#rodzic > span:nth-child(4) {
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
}

#rodzic > span:nth-child(5) {
  animation-delay: 750ms;
  -webkit-animation-delay: 750ms;
}

#rodzic > span:nth-child(6) {
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

#rodzic > span:nth-child(7) {
  animation-delay: 250ms;
  -webkit-animation-delay: 250ms;
}

/*------------------------ANIMACJA loga------------------------*/
@-webkit-keyframes animowany_tekst {
  0% {
    -webkit-transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.error_explanation > ul > li{
  background: none;
  margin: 1px;
  padding: 1px;
}
.error_explanation:hover{
  background: none;
}