<div class="log">
  <ul>
  <% if logged_in? %>
    <li class="log"><%= link_to 'Logout', logout_path, method: :delete %></li>
  <% else %>
    <li id="log"><%= link_to 'Login ', login_path %></li>
    <li id="log"><%= link_to 'Register ', new_user_path %></li>
  <% end %>
  </ul>
</div>
<div class="menu">
  <ul>
    <li><%= link_to 'START', root_path %></li>
    <li><%= link_to 'BLOGS', blogs_path %></li>
    <li>DATA
      <% if current_user %>
        <ul>
          <li><%= link_to 'SHOW', users_path %></li>
          <li><%= link_to 'EDIT', edit_path %></li>
          <li><%= link_to 'DELETE', delete_path %></li>
        </ul>
      <% end %>
    </li>
    <li><%= link_to 'CONTACT', contact_path %></li>
  </ul>
</div>